@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

@import "reset.css";
@import "top-part.css";
@import "greetings.css";
@import "quotes.css";
@import "main.css";
@import "todo.css";

body {
  background-color: skyblue;
  font-family: "Gochi Hand", cursive;
  font-size: 25px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
